/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require normalize
 *= require_tree .
 *= require_self
 */

 .errors {
  display: none;
 }

$base-color: #89827D;
$input-pane-color: #2E454E;
$sidebar-pane-color: #C3BBBD;

$ghost-text-color: #586e75;
$input-text-color: #CAD0CE;
$sidebar-text-color: white;

body {
  background: linear-gradient(-45deg, #9E938B, #7B7672, #9E9793);
  color: #373E44;
  font-family: "EB Garamond", serif;
  height: 100vh;
  left: 0;
  position: relative;
  text-shadow: 1px 1px 3px rgba(255,255,255,0.2);
  top: 0;
  width: 100vw;
  z-index: 0;
}

.dashboard {
    &:before {
      border-bottom-color: #938c88;
      border-left-color: #6d6a69;
      border-radius: 1% / 60%;
      border-right-color: #827d7a;
      border-style: solid;
      border-top-color: #77726f;
      border-width: 4.5vh 4.5vw;
      content: "";
      height: 99vh;
      margin: .5vh 16vw;
      position: absolute;
      width: 68vw;
      z-index: -2;
    }

    &:after {
      background-image: image-url("egg_shell.png");
      bottom: 0;
      content: "";
      left: 0;
      opacity: .2;
      position: absolute;
      right: 0;
      top: 0;
      z-index: -1;
    }
}

.nav-pane {
  float: left;
  height: 100vh;
  padding: 1vh 1vw;
  width: 16vw;

    .doc-paste {
      background-color: #CAD0CE;
      height: 6em;
      resize: none;
      width: 14vw;
    }
}

.info-pane {
  float: right;
  height: 100vh;
  overflow: auto;
  padding: 2vh 2vw;
  width: 16vw;
}

.typing-console {
    .focus-dimmer {
      background-color: #000000;
      bottom: 0;
      content: "";
      left: 0;
      pointer-events: none;
      position: absolute;
      right: 0;
      top: 0;

        &:after {
          box-shadow: 0 0 60px 5px #212a2d;
          content: "";
          height: 90vh;
          margin: 5vh 20vw;
          position: absolute;
          width: 60vw;
          z-index: -1;
        }
    }

    .focus-dimmer.lights {
      &-out {
        opacity: .85;
        transition: opacity 1s ease .5s;
        visibility: visible;
      }

      &-on {
        opacity: .4;
        transform: scale(.1);
        visibility: visible;
        transition: opacity .5s .1s ease-in, transform 3s .6s, visibility 0s .6s;
      }
    }

    .monitor-screen.standby {
      background-color: #212a2d;
      transition: background-color .8s ease;
    }

    .monitor-screen {
      background-color: $input-pane-color;
      border-radius: 60% / 1%;
      box-shadow: inset 0 0 30px 10px #212a2d;
      float: left;
      font-family: "Fira Mono";
      height: 92vh;
      margin: 4vh 20vw;
      position: absolute;
      text-shadow: none;
      transition: background-color .3s ease-in;
      width: 60vw;

        &:before {
          background: inherit;
          border-radius: 1% / 60%;
          bottom: .8vh;
          box-shadow: inset 0 0 30px 5px #212a2d;
          content: "";
          left: -.4vw;
          position: absolute;
          right: -.4vw;
          top: .8vh;
        }

        div {
          bottom: 1%;
          display: inline-block;
          left: 1vw;
          margin: 0 auto;
          max-width: 45em;
          overflow: auto;
          padding: 3.5vh 1.5vw;
          position: absolute;
          right: 1vw;
          top: 1%;
          white-space: pre-wrap;
          word-wrap: break-word;
        }

        .source-body, .input-display {
          color: $ghost-text-color;
        }

        .input-body {
          color: $input-text-color;
        }

        .input-proxy {
          left: -100%;
          position: fixed;
        }
    }

    .input-cursor {
      animation: cursor-flash 1s infinite;
      background-color: $ghost-text-color;
      position: absolute;
      width: 2px;

        @keyframes cursor-flash {
          0%, 50% {
            opacity: 1;
          }
          51%, 100% {
            opacity: 0;
          }
        }
    }
}

@media screen and (max-width: 400px) {
  .nav-bar {
    background: black;
  }
}

.input-logged {
  color: #64B77B;
}

.input-temp {
  color: $input-text-color;
  position: absolute;
  white-space: pre;
  left: 0;
  top: 0;

  &.typo {
    background-color: #a80000;
    animation: warning-flash .7s 1;

      @keyframes warning-flash {
        0%, 29% {
          opacity: 1;
        }
        30%, 59% {
          opacity: 0;
        }
        60%, 89% {
          opacity: 1;
        }
        90% {
          opacity: 0;
        }
      }
  }
}

.remaining-source-text {
  position: relative;
  color: $ghost-text-color;
}
