/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require normalize
 *= require_tree .
 *= require_self
 */

 html {
   background: #99ccbb;
 }

 .dashboard {
   padding: 20px;
   height: 100%;
   width: 100%;
 }

.typing-input {
  position: relative;
  background: #ccdddd;
  font-family: 'Fira Mono';
  padding-top: 50%;
  width: 50%;
  margin: 0, auto;
}

.typing-input div {
  background: transparent;
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 10px;
  right: 10px;
}

.typing-input .source-body {
  color: #88aaaa;
  z-index: 1;
}

.typing-input .input-body {
  color: #334444;
  z-index: 2;
  overflow: hidden;
}

.typing-input input {
  position: fixed;
  left: -100%;
}

.input-caret {
  display: inline-block;
  width: 1px;
  background: black;
  animation: flash 1s infinite;
  }

  @keyframes flash {
    0%, 50% {
      opacity: 1;
    }
    51%, 100% {
      opacity: 0;
    }
  }

  .errors {
    float: right;
  }
