/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require normalize
 *= require_tree .
 *= require_self
 */

 .errors {
  display: none;
 }

$base-color: #89827D;
$input-pane-color: #2E454E;
$sidebar-pane-color: #C3BBBD;

$ghost-text-color: #586e75;
$input-text-color: #CAD0CE;
$sidebar-text-color: white;

body {
  background: linear-gradient(-45deg, #9E938B, #7B7672, #9E9793);
  height: 100vh;
  width: 100vw;
  font-size: 18px;
  font-family: 'EB Garamond', serif;
  text-shadow: 1.5px 1px 3px rgba(255,255,255,0.3);
  color: #373E44;
  z-index: -3;
}

body:after {
  content: "";
  background-image: image-url('egg_shell.png');
  background-repeat: repeat;
  opacity: 0.2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.nav-pane {
  float: left;
  width: 16vw;
  height: 100vh;
  padding: 1vh 1vw;
  background: transparent;
}

.doc-paste {
  resize: none;
  width: 14vw;
  height: 6em;
  background: #CAD0CE;
}

.dashboard {
  position: relative;
}

.info-pane {
  float: right;
  padding: 2em;
  width: 16vw;
  height: 100vh;
  background: transparent;
  overflow: auto;
}

.input-pane:before {
  position: fixed;
  color: gray;
  content: "";
  margin: .5vh 0;
  height: 99vh;
  width: 68vw;
  border-style: solid;
  border-width: 4.5vh 4.5vw;
  border-top-color: #77726f;
  border-left-color: #6d6a69;
  border-right-color: #827d7a;
  border-bottom-color: #938c88;
  border-radius: 1% / 60%;
  z-index: -2;
}

.typing-input {
  box-shadow: inset 0px 0px 10px 20px #293A3F;
  border-radius: 60% / 1%;
  float: left;
  position: fixed;
  background: $input-pane-color;
  font-family: 'Fira Mono';
  text-shadow: none;
  width: 60vw;
  height: 92vh;
  margin: 4vh 20vw;
}

.typing-input:after {
  box-shadow: inset 0px 0px 30px 10px #293A3F;
  content: '';
  position: absolute;
  top: .8%;
  bottom: .8%;
  right: -.7%;
  left: -.7%;
  background: inherit;
  border-radius: 1% / 60%;
}

.typing-input div {
  display: inline-block;
  max-width: 40em;
  background: transparent;
  position: absolute;
  top: 1.5em;
  bottom: 1.5em;
  left: 1.5em;
  right: 1.5em;
  margin: 0 auto;
  white-space: pre-wrap;
}

.typing-input .source-body {
  color: $ghost-text-color;
  z-index: 2;
}

.typing-input .input-body {
  color: $input-text-color;
  z-index: 3;
  overflow: hidden;
}

.typing-input textarea {
  position: fixed;
  left: -100%;
}

.input-cursor.unfocused {
  background: transparent;
}

.input-cursor.focused {
  display: inline-block;
  width: 2px;
  background: $ghost-text-color;
  animation: cursor-flash 1s infinite;
}

@keyframes cursor-flash {
  0%, 50% {
    opacity: 1;
  }
  51%, 100% {
    opacity: 0;
  }
}

.errors {
  float: right;
}

@media screen and (max-width: 400px) {
  .nav-bar {
    background: black;
  }
}
