/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require base
 *= require dashboard
 *= require_self
 */

$base-color: #89827D;
$input-pane-color: #2E454E;
$sidebar-pane-color: #C3BBBD;

$ghost-text-color: #586e75;
$input-text-color: #CAD0CE;
$sidebar-text-color: white;

body {
  font-family: 'Vollkorn', serif;
  font-size: 100%;
  color: #373E44;
}

.logo {
  background-image: image-url("ptlogo.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 6vh;
  width: 16vw;
  margin: 0 auto;
  filter: url("ptlogo.png");
}

.nav-pane {
  float: left;
  height: 100vh;
  width: 19vw;
  padding: 3vh 1.5vw;
  overflow: hidden;
}

.instructions {
  color: #64B77B;
  border: solid 1px #64B77B;
  margin: 8vh 3vw;
  padding: 1vw;
  padding-left: 3vw;

  li {
    margin: 2vh;
  }
}

.demo-text-button {
  font-family: 'Vollkorn', serif;
  font-size: 1em;
  position: relative;
  text-align:center;
  color:#BBB;
  padding: 4px;
  margin: 2vh;
  }
  .demo-text-button:before {
    border-radius:10px;
    box-shadow:0 1px 5px 1px rgba(0, 0, 0, .5) inset, 0 1px 0 #BBB;

    position: absolute;
    content: "";
    left: -3px; right: -3px;
    top: -2px; bottom: -6px;
    z-index: -1;
  }

  .demo-text-button:active {
    box-shadow:0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset;
    top:5px;
  }
  .demo-text-button:active:before{
    top: -11px;
    bottom: -5px;
    content: "";
  }

  .demo-text-button {
    text-shadow:-1px -1px 0 #420311;
    background: #510718;
    border:1px solid #510718;

    border-radius:10px;

    box-shadow:0 1px 0 rgba(200, 200, 200, .4) inset, 0 -.5px 0 rgba(200, 200, 200, .3) inset, 0 4px 0 #510718, 0 4px 2px rgba(0, 0, 0, .5);
  }

  .demo-text-button:hover {
    background:linear-gradient(-45deg, #510718, #420311, #510718);
  }

.doc-paste-input {
  margin: 2vh auto;
  display: block;
  height: 40vh;
  width: 13vw;
  padding: 4vh 1vw;
  resize: none;
  background: linear-gradient(#bfbdbb -1%, #e2e0e0 5%, #eaeaea 10%,#fefdfd 15%, #eaeaea 30%, #e2e0e0 40%, #bfbdbb 90%);
  font-family: "Fira Mono";
  font-size: .8em;
  border: none;
  outline: none;
}

.doc-paste:before {
  content: "";
  position: absolute;
  top: -1vh;
  right: -.2vw;
  left: -.2vw;
  min-height: 2vh;
  background: rgba(0,0,0,.7);
  border: outset #565656;
  border-radius: 5px;
  border-width: .9vh .5vw 1vh;
  box-shadow: 1px 3px 5px 1px black;
  z-index: -5;
}
.doc-paste:after {
  box-shadow: 0 1px .5px .1px #565656;
  content: "";
  position: absolute;
  bottom: -.5vh;
  right: -.1vw;
  left: -.1vw;
  min-height: 3vh;
  border: solid 2vh #565656;
  border-top-color: transparent;
  border-bottom-color: #494848;
  border-radius: 1em;
}

.doc-paste {
  position: relative;
  padding: 0 .5vw;
}

.doc-paste-shadow {
  position:absolute;
  z-index: -10;
  content:"";
  box-shadow: 0 .5vh 1vw .1vw black;
  top:.5vh;
  bottom:14vh;
  left:.5vw;
  right:.5vw;
  border-radius: 20vw 10vw 80vw 80vw / 40vh 30vh 200vh 220vh;
}
.upload-form {
  position: relative;
  text-align: center;
  padding: 3vh 1vw;
  margin: 8vh 0;
}
.upload-form-inset {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0,0,0,0.1);
  border-style: solid;
  border-radius: 5px;
  border-width: .5vh .5vw;
  border-top-color: #77726f;
  border-right-color: #827d7a;
  border-bottom-color: #938c88;
  border-left-color: #6d6a69;
  z-index: -20;
}

.info-pane {
  float: right;
  height: 100vh;
  overflow: auto;
  padding: 2vh 1vw;
  width: 19vw;
}

.info {opacity: .8;
  position: relative;
  padding: 1vh 1vw;
  background: #F0F4F3;
  border-radius: 5px;
  font-weight: bold;
  letter-spacing: -1px;
  box-shadow: inset 0 0 40px 10px #F6E7D4;

    h1 {
      margin: 2vh .8vw;
      text-align: center;
      font-family: 'Corben', 'Vollkorn', serif;
      font-size: 1em;
      letter-spacing: .01em;
    }

    p {
      text-indent: .5em;
      text-align: justify;
      text-justify: inter-ideograph;
      margin: .5em;
    }
}

.info-inset {
  position: absolute;
  top: -.5em;
  right: -.5em;
  left: -.5em;
  bottom: -.5em;
  background: rgba(0,0,0,0.1);
  border-style: solid;
  border-radius: 5px;
  border-width: .5vh .5vw;
  border-top-color: #77726f;
  border-right-color: #827d7a;
  border-bottom-color: #938c88;
  border-left-color: #6d6a69;
  z-index: -20;
}

.typing-console {
    .focus-dimmer {
      background-color: #000000;
      bottom: 0;
      content: "";
      left: 0;
      pointer-events: none;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 10;

        &:after {
          box-shadow: 0 0 60px 5px #212a2d;
          content: "";
          height: 85vh;
          margin: 6.5vh 24vw;
          position: absolute;
          width: 52vw;
        }
    }

    .focus-dimmer.lights {
      &-out {
        opacity: .85;
        transition: opacity 1s ease .5s;
        visibility: visible;
      }

      &-on {
        opacity: 0;
        transform: scale(.1);
        visibility: visible;
        transition: opacity .5s .1s ease-in, transform 0s .6s, visibility 0s .6s;
      }
    }

    .monitor-screen.standby {
      background-color: #212a2d;
      transition: background-color .8s ease;
    }

    .monitor-screen {
      background-color: $input-pane-color;
      border-radius: 60% / 1%;
      box-shadow: inset 0 0 30px 10px #212a2d;
      font-family: "Fira Mono", monospace;
      font-variant-ligatures: none;
      text-rendering: optimizeSpeed;
      height: 87vh;
      margin: 5.5vh 24vw 6.5vh;
      position: absolute;
      text-shadow: none;
      transition: background-color .3s ease-in;
      width: 52vw;
      z-index: 20;

        &:before {
          background: inherit;
          border-radius: 1% / 60%;
          bottom: .8vh;
          box-shadow: inset 0 0 50px 4px #212a2d;
          content: "";
          left: -.4vw;
          position: absolute;
          right: -.4vw;
          top: .8vh;
        }

        .input-display, .results-display {
          bottom: 1%;
          display: inline-block;
          left: 1vw;
          margin: 0 auto;
          max-width: 45em;
          overflow: auto;
          padding: 3.5vh 1.5vw;
          position: absolute;
          right: 1vw;
          top: 1%;
          white-space: pre-wrap;
          word-wrap: break-word;
        }

        .source-body, .input-display {
          color: $ghost-text-color;
        }

        .input-body {
          color: $input-text-color;
        }

        .input-proxy {
          left: -100%;
          position: fixed;
        }
    }

    .input-cursor.active {
      animation: cursor-flash 1s infinite;
      background-color: $ghost-text-color;
      position: absolute;
      width: 2px;

        @keyframes cursor-flash {
          0%, 50% {
            opacity: 1;
          }
          51%, 100% {
            opacity: 0;
          }
        }
    }
}

@media screen and (max-width: 10px) {
  .nav-bar {
    background: black;
  }
}

.logged-input {
  color: #64B77B;
}

.input-temp {
  color: $input-text-color;
  position: absolute;
  white-space: pre;
  left: 0;
  top: 0;

  &.typo {
    background-color: #a80000;
    animation: warning-flash .7s 1;

      @keyframes warning-flash {
        0%, 29% {
          opacity: 1;
        }
        30%, 59% {
          opacity: 0;
        }
        60%, 89% {
          opacity: 1;
        }
        90% {
          opacity: 0;
        }
      }
  }
}

.remaining-source-text {
  position: relative;
  color: $ghost-text-color;
}

.results-display {
  color: #64B77B;
  text-align: center;

    .focus-proxy {
      opacity: 0;
    }
}

.typo-list {
  float: left;
  text-align: left;
  display: inline-block;

    li {
      margin-left: 2em;
    }
}

.input-display::-webkit-scrollbar {
 display: none;
}
